<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <httpHandlers>
      <add verb="POST" path="loginfromportal.aspx" type="RequestHandler.RequestHandler.GoldRequestHandler, RequestHandler"/>
    </httpHandlers>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" executionTimeout="3600"/>
    <sessionState timeout="300"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Requesthandler" path="loginfromportal.aspx" verb="POST" type="RequestHandler.RequestHandler.GoldRequestHandler" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITMS_Service" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="BasicHttpBinding_ILMSService" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="BasicHttpBinding_IPurchase" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      
      <endpoint address="http://uatapp.manappuram.net/MafilService/TMS_Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITMS_Service" contract="TMS_Service.ITMS_Service" name="BasicHttpBinding_ITMS_Service"/>
      <endpoint address="http://uatapp.manappuram.net/LoanServices/LMSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILMSService" contract="LMSService.ILMSService" name="BasicHttpBinding_ILMS_Service"/>
      <endpoint address="http://uatapp.manappuram.net/mafilservices/Purchase.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPurchase" contract="PurchaseService.IPurchase" name="BasicHttpBinding_IPurchase"/>
    
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--The default size is 30000000 bytes (28.6 MB). MaxValue is 4294967295 bytes (4 GB)-->
        <!-- 100 MB in bytes -->
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".odt"/>
      <mimeMap fileExtension=".odt" mimeType="application/vnd.oasis.opendocument.text"/>
      <remove fileExtension=".ods"/>
      <mimeMap fileExtension=".ods" mimeType="application/vnd.oasis.opendocument.spreadsheet"/>
      <remove fileExtension=".odp"/>
      <mimeMap fileExtension=".odp" mimeType="application/vnd.oasis.opendocument.presentation"/>
    </staticContent>
  </system.webServer>
</configuration>
<!--ProjectGuid: 11F181E9-047E-495E-8CAD-743CD564B259-->